@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
   
   table, th, td {
        border: 1px solid black;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(0.01turn);
    }
    p {
        overflow: auto;
        padding: 10%;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        background-color: white;
    }
    .coiso {
        background-color: black;
        color: white;
    }
    .milreais {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fundo {
        background-color: rgb(165, 165, 165);
    }

    .coiso2{
        height: 500px; 
        background-color: aliceblue; 
        text-transform: uppercase; 
        font-weight: bold;
        justify-content: center; 
        display: flex;
        align-items: center;
    }